body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ddd;
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
}

section {
    padding: 100px 20px;
    text-align: center;
}

#intro {
    background: url('images/intro-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
